{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "plugins": [
    "jest"
  ],
  "rules": {
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": [0],
    "import/no-unresolved": 0,
    "import/order": [0],
    "import/prefer-default-export": [0],
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
